@charset "UTF-8";
a{
	text-decoration-line:none;
	color:#5D4037;
	cursor:pointer;
}

html,body{
    margin: 0px;
    padding: 0px;
    background-color: #FFFBEC;
    color: #5D4037;
    font-weight: bold;
    font-size: 18px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center; 
}
body>*{
    /* border: 1px solid black; */
    width: 1920px;
}
h1{
    text-align: center;
    padding-left: 700px;
}
/* .title_inner{
    position: relative;
    display: flex;
    width: 100%;
} */

.title_inner {
    display: flex;
    align-items: center; /* 수직 가운데 정렬 */
    justify-content: space-between; /* 좌우 공간을 균등하게 분배 */
    width: 100%;
}

/* .login{
    position: absolute;
    right: 10px;
    top: 50px;
} */

/* 로그인 영역 스타일 */
.login {
    display: flex;
    align-items: center;
    gap: 10px; /* 아이템 간격 */
}

/* logo와 preview 이미지 크기 맞추기 */
.logo img {
    width: 150px; /* 이미지 너비 */
    height: 150px; /* 이미지 높이 */
    border-radius: 50%; /* 원형 테두리 */
}

#previewProfil{
	width: 90px; /* 이미지 너비 */
    height: 90px; /* 이미지 높이 */
    border-radius: 50%; /* 원형 테두리 */
}

/* nav{
    border: 1px solid black;
} */
nav ul{
    margin: 0;
    padding: 0;
    display: flex;
    width: 100%;
    list-style: none;
    justify-content: space-evenly;
}
nav li{
    width: 200px;
    text-align: center;
    /* border: 1px solid black; */
}

section{
    width: 100%;
}
article{
    /* border: 1px solid black; */
    width: 100%;;
    min-height: 500px;
    margin: 0px auto;
    padding: 20px;
    box-sizing: border-box;
    overflow: auto;
}
article h2{
    margin-bottom: 40px;
}
.article_inner{
    margin-left: 40px;
}
.content_inner{
    width: 100%;
    /* border: 1px solid black; */
}

/* view_inner를 가로로 배치하는 플렉스박스 컨테이너로 설정 */
.view_inner {
    width: 90%;
    display: flex; /* 가로로 배치 */
    flex-direction: row; /* 기본 값으로 가로 배치 */
    justify-content: space-between; /* 요소 사이 간격을 균등하게 */
    align-items: flex-start; /* 컨텐츠를 상단에 맞춤 */
    border: 2px dashed #FFFBEC;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: white;
    border-radius: 20px;
    padding: 20px; /* 내부 여백 추가 */
}

/* view_img와 view_content 사이에 일정한 간격을 줄 수 있음 */
.view_img {
    width: 45%; /* 전체의 45% 차지 */
    position: relative;
}

.view_img img {
    width: 100%; /* 이미지가 div에 맞게 크기 조정 */
    height: auto;
    border-radius: 20px;
}

.view_content {
    width: 50%; /* 전체의 50% 차지 */
    /* border: 1px solid black; */
    padding: 10px; /* 내부 여백 추가 */
    max-height: 600px; /* 고정된 높이 설정 (필요에 따라 조정 가능) */
    overflow-y: auto; /* 내용이 많으면 스크롤 발생 */
}

.comment_inner{
    margin-top: 20px;
    border-top: 1px solid #ccc; /* 댓글 구역 구분선 */
    padding-top: 10px;
}

.comment_inner input{
    width:100%;
}

.content_inner>*{
    width: 100%;
}
.content_inner form{
    height: auto;
    padding-top: 20px;
}

/* 회원가입 페이지 */
.join_title,.join_inner{
    width: 50%;
    margin:auto;
}


/* 로그인 페이지 */
.login_inner,.login_title{
    width: 50%;
    margin:auto;
}

.login_inner input{
    width: 90%;
}

.input-container {
	width: 100%; 
    padding: 10px;
    box-sizing: border-box;
    border: 0;
    border-radius: 5px;
    outline: none;
    background-color: #FFFBEC;
    color:#5D4037;
    font-weight:bold;
    font-size:18px;
}

.input-container i {
    font-size:16px;
}


/* 버튼 스타일 */
#login, #nomalBtn {
    border-radius: 5px;
    background-color: #FF7F50;
    color: white;
    border: none;
    font-size: 20px; /* 버튼 글씨 크기 증가 */
    width: 100%;
    height: 50px; /* 버튼 높이 증가 */
    cursor: pointer;
    margin-bottom: 10px; /* 버튼 사이의 간격 증가 */
}


.paging_inner{
    /* border: 1px solid black; */
    width: 100%;
    text-align: center;
}

footer{
    height: 50px;
    text-align: center;
    padding-top: 30px;
}
#outDiv{
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: white;
    width:1000px;
    border-radius:20px;
    margin:auto;
}

table {
    width: 100%;
    border-collapse: collapse; /* 테두리 겹침 방지 */
}
td {
    padding: 10px; /* 여백을 일정하게 */
    /* text-align: left; */ /* 텍스트 왼쪽 정렬 */
}
input {
    width: 65%; /* 모든 input 요소의 너비를 동일하게 설정 */
    padding: 10px;
    box-sizing: border-box;
    
    /* height: 25px; */
    border: 0;
    border-radius: 5px;
    outline: none;
    background-color: #FFFBEC;
    /* height:40px; */
    color:#5D4037;
    font-weight:bold;
    font-size:18px;
}

.icon-container {
    display: flex; /* 자식 요소들을 가로로 배치 */
    align-items: center; /* 세로 가운데 정렬 */
    gap: 10px; /* 아이콘과 이미지 사이의 간격 설정 */
}


#jBtn,#lBtn,#resetBtn,.join,#sBtn,#listBtn,#wBtn,#cBtn{
	border-radius:5px;
	/* background-color:#FFA500; */
	background-color:#FF7F50;
	color:white;
	border:none;
	font-size:18px;
	width:120px;
	height:40px;
	cursor:pointer;
}

#indexDiv{
	display: flex;
    justify-content: space-evenly;
}

#recoDiv{
	background-color:#FFFBEC;
    width:200px;
	height:200px;
	border-radius:20px;
	cursor:pointer;
}

#listTable{
	background-color:white;
	display: flex;
    align-items: center;
    justify-content: center;
    width:100%;
	border-radius:20px;
	text-align:center;
	/* border:1px solid #5D4037; */
}

#writeTable{
	display: flex;
    align-items: center;
    justify-content: center;
    width:100%;
	height:100%;
}

#sType{
	-webkit-appearance: none;  /* 크롬 화살표 없애기 */
    -moz-appearance: none; /* 파이어폭스 화살표 없애기 */
    appearance: none;  /* 화살표 없애기 */
    display: inline-block;
    border:none;
    background-color: white;
    width: 150px;
    height: 60px;
    text-align: center;
    outline: none;
    color: #5D4037;
    font-weight: bold;
    line-height: 100%;
    cursor:pointer;
    margin-right: 20px; 
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 40px;
    font-size:18px;
}
/* view 페이지의 검색창 */
.search-wrapper {
    display: flex;
    align-items: center; /* 수직 가운데 정렬 */
    gap: 10px; /* 요소 간의 간격 설정 */
}

.search_inner,.search_title{
    width: 100%;
    margin:auto;
}

#search{
	padding-right: 30px;
	background-color: white;
}

#searchIcon{
	margin-left:10px;
}

#clearBtn {
    cursor: pointer;
    display: none; /* 기본적으로는 숨김 */
    margin-left:80px;
}

#search-container {
    position: relative;
    padding: 10px;
}

#search-container input {
    padding-right: 30px;
}

#search-container clearBtn {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    font-size: 18px;
    color: #999;
    display: none;
}


/* textarea */
#mytextarea {
    width: 90%;  /* 컨테이너의 가로 크기에 맞춤 */
    height: 200px; /* 높이 설정 */
    padding: 10px; /* 내부 여백 */
    border: 1px solid #ccc; /* 테두리 */
    border-radius: 4px; /* 테두리 둥글기 */
    font-family: Arial, sans-serif; /* 폰트 */
    font-size: 14px; /* 폰트 크기 */
    line-height: 1.6; /* 줄 간격 */
    resize: vertical; /* 수직 방향으로만 크기 조절 가능 */
}
/* 포커스 시 스타일링 */
#mytextarea:focus {
    outline: none; /* 기본 포커스 아웃라인 제거 */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* 글쓰기 첨부파일 css */
/* 기존 첨부파일 디자인 없애기 */
.filebox input[type="file"] {
    position: absolute;
    width: 0;
    height: 0;
    padding: 0;
    overflow: hidden;
    border: 0;
}
/* input style 변경 */
.filebox .upload-name {
    display: inline-block;
    height: 40px;
    padding: 0 10px;
    vertical-align: middle;
    border: 1px solid #dddddd;
    width: 60%;
    color: #999999;
}
/* label style 변경 */
.filebox label {
    display: inline-block;
    padding: 10px 20px;
    color: #fff;
    vertical-align: middle;
    background-color: #999999;
    cursor: pointer;
    height: 25px;
    margin-left: 10px;
}


/* 회원가입 첨부파일 css */
/* 기존 첨부파일 디자인 없애기 */
.join_inner .input-container {
    display: flex;
    align-items: center;
}

.profil {
    display: flex;
    align-items: center;
    cursor: pointer;
    border: 1px solid #dddddd;
    width: 70%;
    margin-left: 20px;
    padding: 10px;
    border-radius:5px;
}

.profil input[type="file"] {
    position: absolute;
    width: 0;
    height: 0;
    padding: 0;
    overflow: hidden;
    border: 0;
    cursor: pointer; 
}

.profil .upload-name {
    display: inline-block;
    height: 40px;
    padding: 0 10px;
    vertical-align: middle;
    width: 100%;
    color: #999999;
    margin-left: 20px;
    cursor: pointer;
}

.profil label {
    display: flex;
    align-items: center;
    height: 40px;
    padding: 0 10px;
    vertical-align: middle;
    width: 100%;
    color: #999999;
    cursor: pointer;
}

.circular-img {
	margin-left:10px;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    object-fit: cover;
    display: block; /* 이미지를 블록 요소로 설정하여 부모의 영향을 받지 않도록 */
    background-color: white; /* 기본 배경색 설정 */
    border: 1px solid #5D4037;  /* 원형 테두리 추가 (선택 사항) */
}

/* header 버튼 서브메뉴 */
#menutableA button{
	border-radius:5px;
	background-color:white;
	border:none;
	font-size:18px;
	width:120px;
	height:40px;
	cursor:pointer;
}

#menutableA button:hover{
	background-color:#FF7F50;
	color:white;
}

/* menuA 스타일 */
#menuA {
    cursor: pointer;
    padding: 10px;
    border: none;
    display: inline-block;
    position: relative; /* 메뉴의 기준 위치 설정 */
    margin-right:15px;
    margin-bottom:10px;
}

/* menutableA 스타일 */
#menutableA {
    position: absolute;
    background-color: white;
    display: none;
    text-align: center;
    border: 1px solid #ccc;
    border-radius:5px;
    padding: 10px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    width: 120px;
    top: 100%; /* menuA 바로 아래 위치 */
    right: 0;   /* menuA의 왼쪽과 맞추어 정렬 */
    z-index: 1000; /* 메뉴가 다른 요소들보다 위에 표시되도록 설정 */
}

/* 별점 난이도 css */
.star-rating {
    direction: rtl; /* 별을 오른쪽에서 왼쪽으로 채워 나갑니다 */
    display: inline-block;
}
.star-rating input[type="radio"] {
    display: none; /* 라디오 버튼을 숨깁니다 */
}
.star-rating label {
    color: #ccc; /* 비활성화된 별의 색 */
    font-size: 24px;
    padding: 0;
    cursor: pointer;
}
.star-rating input[type="radio"]:checked ~ label,
.star-rating label:hover,
.star-rating label:hover ~ label {
    color: #f90; /* 활성화된 별의 색 */
}
/* board_list의 별점 난이도 css */
.rating {
    direction: rtl; /* 별을 오른쪽에서 왼쪽으로 채워 나갑니다 */
    display: inline-block;
}
.rating input[type="radio"] {
    display: none; /* 라디오 버튼을 숨깁니다 */
}
.rating label {
    color: #ccc; /* 비활성화된 별의 색 */
    font-size: 20px;
    margin: 0 3px;
    padding: 0;
    cursor: pointer;
}
.rating input[type="radio"]:checked ~ label {
    color: #f90; /* 활성화된 별의 색 */
} 